/* Copyright 2024 Gregory Mitchell */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

:root {
    --primary-color: #64d9fc;
    --dark-primary-color: #00a8cc;

    --secondary-color: #f5f5f5;

    --link-color: #0044ff;
}

html {
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

body {
    overflow-y: hidden;
    min-height: 100%;
}

main {
    height: 100%;
    width: 100%;
    min-height: 88vh;
    min-width: 100vw;
}

html, body, main {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 0;
}

h4 {
    font-weight: 500;
    margin: 0;
    font-style: italic;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-dark-primary {
    background-color: var(--dark-primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.background {
    width: 100%;

    filter: blur(3px);
    position: absolute;
    z-index: -1;
    object-fit: cover;
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

#logo {
    height: auto;
    width: 10vw;
    transition: transform 0.5s ease-in-out;

    border: 4px solid black;
    border-radius: 25%;
    margin-top: 1vh;
}

#logo:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

/* Header */

header {
    width: 100%;
    height: 5vh;
}

/* Site */

#top {
    height: 60vh;
    color: white;
}

#top-bg {
    height: 60vh;
}

#about {
    padding: 6vh 0;
    border-top: 4px solid black;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#about > div {
    width: 40%;
}

#about > img {
    border: 4px solid var(--dark-primary-color);
    border-radius: 8px;

    min-width: 256px;
    width: 15%;
    height: auto;

    transition: transform 0.5s ease-in-out;
}

#about > img:hover {
    transform: translateX(-4vw) scale(1.1);
    transition: transform 0.5s ease-in-out;
}

#services {
    padding-top: 2vh;
    padding-bottom: 8vh;

    background: lightgray;
}

#services > div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#services > div > div {
    background: white;
    border: 4px solid var(--dark-primary-color);
    border-radius: 8px;
    padding: 1vh;

    width: 20%;
    font-size: 0.9em;

    transition: transform 0.5s ease-in-out;
}

#services > div > div:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

#example {
    padding-bottom: 8vh;
}

#example > iframe {
    border: 8px solid var(--primary-color);
    border-radius: 8px;
}

#contact-us {
    padding-top: 2vh;
    padding-bottom: 10vh;
    border-top: 2px solid black;
    border-bottom: 2px solid black;;
}

#contact-us > div {
    padding-top: 2vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2vw;
}

#contact-us > div > a {
    width: 2%;
    min-width: 64px;
}

#contact-us > div > a > img {
    border-radius: 25%;
    aspect-ratio: 1;

    width: 100%;
    height: auto;

    transition: transform 0.5s ease-in-out;
}

#contact-us > div > a > img:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}