@media (max-width: 1000px) {
    #about {
        flex-direction: column;
    }

    #about > div {
        width: 90%;
    }
    
    #about > img {
        transition: none;    
    }

    #about > img:hover {
        transform: none;
    }

    #services > div > div {
        transition: none;
    }

    #services > div > div:hover {
        transform: none;
    }

    .image-grid {
        grid-template-columns: 1fr;
    }

    .image-grid > img {
        width: 80%;
        min-width: 192px;
        height: auto;
    
        object-fit: cover;
        place-self: center;

        transition: none;
    }

    .image-grid > img:hover {
        transform: none;
    }
}

@media (max-width: 864px) {
    #services > div {
        flex-direction: column;
        align-items: center;
        row-gap: 8vh;
    }

    #services > div > div {
        width: 90%;
    }
}