---
layout: default
---

<div class="box" id="top">
    <img class="background" id="top-bg" src="/assets/flossmoor1.jpg" alt="Flossmoor"/>
    <img id="logo" src="/favicon_app.png" alt="Logo"/>
    <h1>{{ site.title }}</h1>
    <h4>Since {{ site.year }}</h4>
    <h3>{{ site.description }}</h3>
</div>

<div class="box bg-secondary" id="about">
    <div>
        <h2>Efficient, Reliable, Local</h2>
        {{ content }}
    </div>
    <img src="/assets/homewood.png" alt="Cook County"/>
</div>

<div class="box" id="services">
    <h2>Services</h2>
    <div>
        {% for service in site.data.services %}
        <div onclick="openService(document.getElementById('{{ service.id }}'))">
            <h3>{{ service.name }}</h3>
            <p>{{ service.description }}</p>
            <p><strong>Click for More...</strong></p>
        </div>
        <dialog id="{{ service.id }}">
            <h3>{{ service.name }}</h3>
            <p>{{ service.description }}</p>
            <p>{{ service.example.description }}</p>

            <div class="box">
                {% if service.example.youtube %}
                <iframe src="{{ service.example.youtube }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                {% endif %}
            </div>

            <div class="box">
                <button onclick="closeService(document.getElementById('{{ service.id }}'))">Close</button>
            </div>
        </dialog>
        {% endfor %}
    </div>
</div>

<div class="box bg-primary" id="contact-us">
    <h1>Convinced?</h1>
    <h2>Contact Us!</h2>
    <img src="/assets/about.jpg" alt="About"/>
    <div>
        <div>
            {% for person in site.data.about %}
            <div>
                <h3>{{ person.name }}</h3>
                <p>{{ person.title }}</p>
            </div>
            {% endfor %}
        </div>
        <div>
            <a href="tel:{{ site.phone_number | replace: '-', '' }}"><img src="/assets/phone.png" alt="Phone"></a>
            {% for contact in site.data.contact %}
            <a href="{{ contact.url }}" title="{{ contact.name }}"><img src="{{ contact.img }}" alt="{{ contact.name }}"></a>
            {% endfor %}
        </div>
    </div>
</div>